# Archivos y carpetas a ignorar

# Carpetas temporales de compilación
bin/
obj/

# Archivos de Visual Studio
.vs/
*.user
*.suo

# Otros
*.log
*.tmp
/Adarec.Application/Properties/PublishProfiles
/Adarec.Application.DTO/Properties/PublishProfiles
/AdarecApi/Properties/PublishProfiles
